<nav class="main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item">
			<a class="main-nav__link" href="javascript:;" class=""><span>Demos</span></a>

			<ul class="main-nav__sublist">
				<li class="main-nav__subitem">
					<a class="main-nav__sublink" href="/r/meta/release-notes/">Demo 1</a>
				</li>
				<li class="main-nav__subitem">
					<a class="main-nav__sublink" href="/r/meta/roadmap/">Demo 2</a>
				</li>
				<li class="main-nav__subitem">
					<a class="main-nav__sublink" href="/r/meta/license/">Demo 3</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
