.css-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: [header-start] 20vh [header-end];
    grid-template-columns: [full-start sidebar-start] 1fr 2fr [sidebar-end main-start] 1fr 2fr 1fr 2fr [main-end full-end];

    &__header {
        grid-row: header-start;
        grid-column: full-start / full-end;
        border: 1px solid rgba(white, 0.2);   
        background: rgba(white, 0.1);
    }

    &__sidebar {
        grid-row: 2;
        grid-column: sidebar-start / sidebar-end;
        border: 1px solid rgba(white, 0.2);   
        background: rgba(white, 0.1);
    }

    &__content {
        grid-row: 2;
        grid-column: main-start / main-end;
        border: 1px solid rgba(white, 0.2);   
        background: rgba(white, 0.1);
    }
}