/*
Main colors

$heading-color - Primary heading color
$secondary-heading-color - Secondary heading color
$body-copy-color - Body text color
$link-color - Primary link color
$link-hover-color - Primary link color

markup:
<div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>

Styleguide 1.1
*/

$heading-color: #7CB0A1;
$secondary-heading-color: #517C66;
$body-copy-color: #444;
$link-color: #AF8F2C;
$link-hover-color: #F8B853;


/*
Gradients

Main Gradient


markup:
<sg-insert>1.1-4</sg-insert>


Styleguide 1.1.1
*/