/**

**/

@font-face {
  font-family: "fontello";
  src: url('../../assets/fonts/fontello/fontello.eot?81278657');
  src: url('../../assets/fonts/fontello/fontello.eot?81278657#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello/fontello.woff?81278657') format('woff'),
       url('../../assets/fonts/fontello/fontello.ttf?81278657') format('truetype'),
       url('../../assets/fonts/fontello/fontello.svg?81278657#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}