%is-hidden {
  display:none!important;
  visibility:hidden!important;
}

%is-vishidden {
  position: absolute!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px,1px,1px,1px);
}

/* Show on Mobile, hide on Tablet & Desktop */
%visible-mobile {
  display: block;

  @include breakpoint($medium) {
    display: none;
  }
}

/* Hide on Mobile, show on Tablet & Desktop */
%hide-mobile {
  display: none;

  @include breakpoint($medium) {
    display: block;
  }
}

/* Hide on Mobile, display table on Tablet & Desktop */
%hide-mobile-t {
  display: none;

  @include breakpoint($medium) {
    display: table;
  }
}

/* Show on Desktop, hide on Mobile & Tablet */
%visible-desktop {
  display: none;

  @include breakpoint($large) {
    display: block;
  }
}

%visible-desktop-t {
  display: none;

  @include breakpoint($large) {
    display: table;
  }
}
