/*
Input boxes

Styles for input boxes

default - Default input
:hover - Hovered input

markup:
<input class="{$modifiers}" type="text" value="Default text box">
<input class="{$modifiers}" type="text" placeholder="Default placeholder">
<input class="{$modifiers}" type="search" value="Search text box">

Styleguide 2.3
*/

input {
	margin: 8px;
	padding: 8px;
	border: 1px solid #000;

	&:focus {
		//background-color: var(--tertiary-color);
	//	background-color: $tertiary-color;
		border: 1px solid #CCC;
	}
}