$cross: 'data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20viewBox%3D%220%200%2016%2016%22%3E%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M15%2C0c0.3%2C0%2C0.5%2C0.1%2C0.7%2C0.3S16%2C0.7%2C16%2C1c0%2C0.3-0.1%2C0.5-0.3%2C0.7L9.4%2C8l6.3%2C6.3c0.2%2C0.2%2C0.3%2C0.4%2C0.3%2C0.7%0A%09c0%2C0.3-0.1%2C0.5-0.3%2C0.7S15.3%2C16%2C15%2C16c-0.3%2C0-0.5-0.1-0.7-0.3L8%2C9.4l-6.3%2C6.3C1.5%2C15.9%2C1.3%2C16%2C1%2C16c-0.3%2C0-0.5-0.1-0.7-0.3%0A%09S0%2C15.3%2C0%2C15c0-0.3%2C0.1-0.5%2C0.3-0.7L6.6%2C8L0.3%2C1.7C0.1%2C1.5%2C0%2C1.3%2C0%2C1c0-0.3%2C0.1-0.5%2C0.3-0.7S0.7%2C0%2C1%2C0c0.3%2C0%2C0.5%2C0.1%2C0.7%2C0.3L8%2C6.6%0A%09l6.3-6.3C14.5%2C0.1%2C14.7%2C0%2C15%2C0z%22%2F%3E%0A%3C%2Fsvg%3E%0A' 16px 16px;
$plus: 'data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%3Cpath%20%20d%3D%22M10%2C0c0.3%2C0%2C0.5%2C0.1%2C0.7%2C0.3C10.9%2C0.5%2C11%2C0.7%2C11%2C1v8h8c0.3%2C0%2C0.5%2C0.1%2C0.7%2C0.3S20%2C9.7%2C20%2C10%0A%09c0%2C0.3-0.1%2C0.5-0.3%2C0.7C19.5%2C10.9%2C19.3%2C11%2C19%2C11h-8v8c0%2C0.3-0.1%2C0.5-0.3%2C0.7C10.5%2C19.9%2C10.3%2C20%2C10%2C20c-0.3%2C0-0.5-0.1-0.7-0.3%0A%09S9%2C19.3%2C9%2C19v-8H1c-0.3%2C0-0.5-0.1-0.7-0.3C0.1%2C10.5%2C0%2C10.3%2C0%2C10c0-0.3%2C0.1-0.5%2C0.3-0.7S0.7%2C9%2C1%2C9h8V1c0-0.3%2C0.1-0.5%2C0.3-0.7%0A%09S9.7%2C0%2C10%2C0z%22%2F%3E%0A%3C%2Fsvg%3E%0A%0A' 20px 20px;

@mixin inline-svg($name, $fill:'#000') {
	$fill: to-string($fill);
	$img: inline-svg-fill( nth($name, 1),$fill);
	background: transparent url($img) no-repeat 50% 50%;
	background-size: 100%;
	width: nth($name, 2);
	height: nth($name, 3);
}

@function inline-svg-width($name) {
	@return nth($name, 2);
}

@function inline-svg-height($name) {
	@return nth($name, 3);
}

@function inline-svg-fill($svg, $fill) {
	@return str-replace($svg, '%3Csvg', '%3Csvg%20fill%3D%22#{url-encode($fill)}%22');
}