// Media Queries
// ------------------------------------------------------------------------------

$small: 320px;
$medium: 768px,'no-query' true;
$wide: 980px,'no-query' true;
$superwide: 1200px,'no-query' true;


// Colors
// ------------------------------------------------------------------------------

$blue-primary: #01add8;
$blue-secondary: #008bc4;

$purple-primary: #643e89;
$purple-secondary: #4a2873;

// Icons
// ------------------------------------------------------------------------------

$icon-codes: (
	arrow-right: '\e800',
	arrow-left: '\e801',
	search: '\e802',
	download: '\e809',
	down-open: '\e804',
	up-open: '\e805',
	home: '\e806',
	events: '\e807',
	news: '\e808',
	right-open: '\e803',
	left-open: '\e80a',
	category: '\e80b',
);