
$oldIE: false !default;


// Media Queries
// ------------------------------------------------------------------------------

$breakpoints: (
	small: 320px,
	medium: 768px,
	wide: 980px,
	superwide: 1200px
);

// Fonts
// ------------------------------------------------------------------------------

$lightWeight: 300;
$regularWeight: 400;
$boldWeight: 600;


// Colors
// ------------------------------------------------------------------------------


// Icons
// ------------------------------------------------------------------------------


$icon-codes: (
	arrow-right: '\e800',
	arrow-left: '\e801',
	search: '\e802',
	download: '\e809',
	down-open: '\e804',
	up-open: '\e805',
	home: '\e806',
	events: '\e807',
	news: '\e808',
	right-open: '\e803',
	left-open: '\e80a',
	category: '\e80b',
);