/**
 * For markup you want to hide but still keep accessible for screen readers.
 */
@mixin visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.visually-hidden {
	@include visually-hidden();
}