%btn-base{
	border-radius: 3px;
}

.btn-primary{
	@extend %btn-base;
	&:hover {
		background: #2276af;
	}
}


.btn-download{
	@extend %btn-base;
	&:hover {
		background: #2276af;
	}
}