/*
Skeletor

This is the skeletor avatar

markup:
<div class="skeletor-component js-skeletor-guy"></div>

Styleguide 4.1
*/

skeletor-guy {
	$block: &;

	display: block;
	width: 100px;
	height: 100px;
	background: red;
}

