@font-face {
  font-family: 'icons';
  src: url('/fonts/fontello/fontello.eot?12784576');
  src: url('/fonts/fontello/fontello.eot?12784576#iefix') format('embedded-opentype'),
       url('/fonts/fontello/fontello.woff?12784576') format('woff'),
       url('/fonts/fontello/fontello.ttf?12784576') format('truetype'),
       url('/fonts/fontello/fontello.svg?12784576#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}