
//Fontello font icons
%icon:before{
  margin: 0 5px 0 0;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}


@each $iconName, $value in $icons {
  %icon-#{$iconName}:before {
    @extend %icon;
    content: '#{$value}'; 
  }
}

%pull-icon-right:before{
  float: right;
  margin: 2px 0 0 5px;
}

//clearfix

.clearfix {
  &:before, &:after {
      content: "";
      display: table;
  }
  &:after {
    clear: both;
    }
  zoom: 1;
}


//Responsive toggles

.hidden-small{
  display:none;

  @include breakpoint(medium) {
   display: block !important;
  }

  @include breakpoint(wide) {
   display: block !important;
  } 
  
}

.visible-small{

  @include breakpoint(medium) {
   display: none !important;
  }

  @include breakpoint(wide) {
   display: none !important;
  } 
  
}

.hidden-medium{

  @include breakpoint(medium) {
   display: none !important;
  }

  @include breakpoint(wide) {
   display: block !important;
  } 
  
}

