*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
	font-family: "mobile";

	@include breakpoint(medium) {
	 	font-family: "tablet";
  }

	@include breakpoint(wide) {
		font-family: "desktop";
	}
}