@mixin reset-list {
	margin: 0;
	padding:0;
	list-style: none;
	li:before { display: none; }
}

@mixin reset-button {
	-webkit-appearance: none;
	border: 0;
	padding: 0;
}

@mixin zero-typography-margins {
	h1, h2, h3, h4, h5, h6, p {
		margin-bottom: 0;
	}
}