$min-medium: map-get($breakpoints, medium);
$min-large: map-get($breakpoints, wide);
$min-xlarge: map-get($breakpoints, superwide);

.visible-small,
.visible-small-block,
.visible-small-inline,
.visible-small-inline-block,
.visible-medium,
.visible-medium-block,
.visible-medium-inline,
.visible-medium-inline-block,
.visible-large,
.visible-large-block,
.visible-large-inline,
.visible-large-inline-block,
.visible-xlarge,
.visible-xlarge-block,
.visible-xlarge-inline,
.visible-xlarge-inline-block {
  display: none !important;
}

@include breakpoint(max-width $max-small){
	.visible-small              { display: block !important; }
	.visible-small-block        { display: block !important; }
	.visible-small-inline       { display: inline !important; }
	.visible-small-inline-block { display: inline-block !important;}

	.hidden-small               { display: none; }
}

@include breakpoint($min-medium $max-medium){
	.visible-medium              { display: block !important; }
	.visible-medium-block        { display: block !important; }
	.visible-medium-inline       { display: inline !important; }
	.visible-medium-inline-block { display: inline-block !important; }

	.hidden-medium               { display: none; }
}

@include breakpoint($min-large $max-large){
	.visible-large              { display: block !important; }
	.visible-large-block        { display: block !important; }
	.visible-large-inline       { display: inline !important; }
	.visible-large-inline-block { display: inline-block !important; }

	.hidden-large               { display: none; }
}

@include breakpoint($min-xlarge){
	.visible-xlarge              { display: block !important; }
	.visible-xlarge-block        { display: block !important; }
	.visible-xlarge-inline       { display: inline !important; }
	.visible-xlarge-inline-block { display: inline-block !important; }

	.hidden-xlarge               { display: none; }
}