//sass plugins!
$output-bourbon-deprecation-warnings: false;
@import "bourbon";
@import "susy";
@import "breakpoint";

 //mixins / functions / variables & related utility classes
@import "abstracts/**/*";

*, *:before, *:after {@include prefixer(box-sizing, border-box, webkit moz spec); }

html {
	font-family: "mobile";
	@include breakpoint($medium) { font-family: "tablet"; }
	@include breakpoint($large) { font-family: "desktop"; }
}

@import "base/**/*"; //base styles - pretty much just html elements
@import "components/**/*"; //this is where most things will live
@import "layout/**/*"; //The containers within which the components will live Plus the fixed things like header / footer
@import "future/**/*"; //Things we cannot yet include in production because they're just too damn new.
// Utility classes