extends _base.pug

block header
	h1(class="js-hello")

block content
	section
		.flex-grid
			.flex-grid__col
				h1
					| Heading 1
			.flex-grid__col
				h2
					| Heading 2
			.flex-grid__col
				h3
					| Heading 3
		.flex-grid
			.flex-grid__col
				h4
					| Heading 4
			.flex-grid__col
				h5
					| Heading 5
			.flex-grid__col
				h6
					| Heading 6
		ul
			li
				| small list item
			li
				| another moderate length list item to see how it goes
			li
				| Lorem ipsum dolor sit, amet consectetur adipisicing elit. At, quos magni. Tempora sint impedit autem modi. Minima accusamus inventore dolorum vitae vel expedita, quia modi quidem esse asperiores corrupti earum!
	section
		button
			| button!
	section
		input(type="text")
	
			
	.flip.js-flip.jack
		| Flip
	.flip.js-flip--fast.jack
		| Flip fast!
	.flip.js-flip--slow.jack
		| Flip sloowww
	.icon-skeletor_tall.js-skeletor-guy(data-component="skeletor-guy")

block footer
